.form {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: left;
    float: left;
}

/*.select {
    max-width: 50%;
    height: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    align-content: left;
    align-content: left;
    float: left;
}*/


